<div class="aParent">  
  <div>
    <h1>Minhas Listas</h1>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @lists.each do |list| %>
          <div>
            <tr>
              <td style="padding-right: 20px"><%= list.name %></td>
              <td><%= link_to 'Ver', list, class: 'btn btn-primary btn-xs' %></td>
              <td><%= link_to 'Editar', edit_list_path(list), class: 'btn btn-primary btn-xs' %></td>
              <td><%= button_to 'Remover', list, { class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } }%></td>
              <td><%= link_to 'Publicar', publish_list_path(list.id), { remote: true, method: :put, class: 'btn btn-success btn-xs' } %> </td>
            </tr>
          </div>
        <% end %>
      </tbody>
    </table>

    <%= link_to "Nova Lista", new_list_path, class: 'btn btn-primary' %>
  </div>

  <div class="divFavourites">
    <h1>Minhas Listas Favoritas</h1>
  </div>

  <div class="divPublic">
    <h1>Listas Públicas</h1>
    <ul class="lists_list">
      <% @lists.each do |l| %>
        <%= render 'list_name', list: l %>
      <% end %>
    </ul>
  </div>
</div>
