<p id="notice"><%= notice %></p>

<h1>
  <%= @list.name %>
</h1>

<%= form_for [@list, Task.new], remote: true do |t| %>
  <div class="field">
    <%= t.label "Nova tarefa:", for: :task_description %>
    <%= t.text_field :description %>
  	<%= t.submit 'Adicionar', class: 'btn btn-primary btn-xs'%>
  </div>

<% end %>

<ol>
	<li>Tarefa 1
		<%= button_to 'Remover', List.new, { class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } }%>
	</li>
</ol>

<%= link_to 'Voltar', lists_path, class: 'btn btn-default' %>
